/*****=====*****=====*****=====*****=====
    02. General CSS 
=====*****=====*****=====*****=====*****/

body {
    background-color: #000000;
    font-family     : 'spectral', Arial, Helvetica, sans-serif;
    font-size       : 18px;
    font-weight     : 400;
    line-height     : 2;
    color           : #000000;
    overflow-x      : hidden !important;
}

/* Common CSS */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family   : 'Merriweather', sans-serif;
    color         : #000000;
    line-height   : 1.2;
    font-weight   : 600;
    margin-top    : 0;
    margin-bottom : 10px;
    padding       : 0;
    text-transform: uppercase;
}

p {
    margin : 0;
    padding: 0;
}

.h3,
h3 {
    font-size: 20px;
}

a {
    text-decoration   : none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition   : all 0.3s ease-in-out;
    -o-transition     : all 0.3s ease-in-out;
    -ms-transition    : all 0.3s ease-in-out;
    transition        : all 0.3s ease-in-out;
}

a:focus,
a:hover {
    outline           : none;
    text-decoration   : none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition   : all 0.3s ease-in-out;
    -o-transition     : all 0.3s ease-in-out;
    -ms-transition    : all 0.3s ease-in-out;
    transition        : all 0.3s ease-in-out;
}

ul {
    margin : 0;
    padding: 0;
}

ul li {
    list-style-type: none;
    margin         : 0;
    padding        : 0;
    color          : white;
}

img {
    width    : 100%;
    max-width: 100%;
    height   : auto;
}

.btn {
    font-size: 14px;
}


.title h2 {

    color      : white;
    font-size  : 2.5rem;
    font-weight: bold;
    text-align : center;
    padding    : 40px;
}

button {
    width           : 200px;
    padding         : 10px;
    border-radius   : 10px;
    background-color: green;
    color           : white;
}

button:hover {
    background-image: linear-gradient(yellowgreen, green);
}

/* Form CSS */

.form-control {
    resize               : none;
    height               : 45px;
    font-size            : 14px;
    margin-bottom        : 30px;
    box-shadow           : none;
    -webkit-box-shadow   : none;
    -moz-box-shadow      : none;
    border-radius        : 0px;
    -moz-border-radius   : 0px;
    -webkit-border-radius: 0px;
}

.form-control:focus {
    border-color      : #a2a2a2;
    box-shadow        : none;
    -webkit-box-shadow: none;
    -moz-box-shadow   : none;
}

/* Placeholder Color CSS */
::-webkit-input-placeholder {
    color: #999999 !important;
}

::-moz-placeholder {
    color: #999999 !important;
}

:-ms-input-placeholder {
    color: #999999 !important;
}

:-moz-placeholder {
    color: #999999 !important;
}


/* BUtton CSS */


.my-btn {
    padding       : 10px 20px;
    background    : #07c1ce;
    color         : #ffffff;
    position      : relative;
    border-radius : 5px;
    border        : none;
    text-transform: capitalize;
    width         : 200px;
}

.my-btn:hover {
    color     : #ffffff;
    background: #303030;
}

.my-btn:hover:before,
.my-btn:focus:before,
.my-btn:active:before {
    opacity          : 1;
    -webkit-transform: translateY(5px);
    transform        : translateY(5px);
}

.my-btn:before {
    pointer-events             : none;
    position                   : absolute;
    z-index                    : -1;
    content                    : '';
    top                        : 90%;
    left                       : 5%;
    height                     : 10px;
    width                      : 90%;
    opacity                    : 0;
    background                 : -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
    background                 : radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
    -webkit-transition-duration: 0.3s;
    transition-duration        : 0.3s;
    -webkit-transition-property: transform, opacity;
    transition-property        : transform, opacity;
}



header .mynav {
    background-image: linear-gradient(rgb(228, 230, 90), yellowgreen);
    /* background   : transparent; */
    font-size       : 20px;
    font-weight     : bold;
    width           : 100%;
    margin          : 0;
    color           : white;
    position        : fixed;
    z-index         : 9999;

}


header button {
    width: 100px;
}

header .navigate {
    color: white;
}

.brand {
    margin : auto;
    padding: 0;
    width  : 100px;
}

.social-icon {
    width      : 100%;
    font-size  : 18px;
    margin-left: 150px;

}

.social-icon ul li {
    display: inline;
    margin : 0 10px;

}

.social-icon ul li i {
    color: white;
}

.carousel-section {
    height: 700px;
}

.carousel-section img {
    height: 700px;
}

.d-block {
    opacity: 0.4;
}

.carousel-section h3 {
    color    : #ffa600;
    font-size: 35px;
}

.carousel-section p {
    color      : white;
    font-size  : 25px;
    line-height: 1.6;
}



/* working - hours  */

.working-hours {
    color: yellowgreen;

}

.working-hours .row {
    padding-bottom: 20px;
}

.working-hours table {
    margin: auto;
    width : 80%;

}

.working-hours table tr th {
    text-align: center;
    color     : white;
}

.working-hours table tr td {
    padding: 0 25px;
}

/* Profile - Section  */

.profile-section {
    background-color: #c9c8c8;

}

.profile-row {
    padding       : 40px;
    padding-bottom: 120px;

}

.dpic {
    padding: 40px;
}

.d-pic {
    border-radius: 20px;
    width        : 70%;
    height       : 500px;

}

.d-pic2 {
    border-radius: 50%;
    width        : 50%;
    height       : 350px;
    position     : absolute;
    top          : 250px;
    left         : 310px;
    z-index      : 99;
}

.profile-description h2 {
    text-align : center;
    font-size  : 2.6rem;
    line-height: 1.5;
}

.profile-description .brandname {
    color: green;
}

.profile-description p {
    text-align : left;
    font-size  : 1.3rem;
    line-height: 2;
}

/* Our Services */

.services {
    background           : rgb(255, 255, 255);
    background-image     : url(../images/brand/NimakarLogoTnew.png);
    background-repeat    : no-repeat;
    background-position  : center;
    background-attachment: fixed;
    color                : black;
    font-size            : 1.2rem;
    padding              : 20px;
}

.services .lists {
    border-left : 2px solid gray;
    padding-left: 10px;
}

.services .title h2 {
    color: black;
}

.services ul li {
    color: black;
}

.services ul li i {
    color: green;
}

/* Our Products  */
.prod {
    padding   : 60px 0;
    background: black;
    color     : white;
    text-align: center;
}

.prod img {
    height       : 250px;
    border-radius: 30px 0 0 0;
}

.prod img:hover {
    opacity      : 0.8;
    border-radius: 0 30px 0 0;
}

.prod p {
    background   : yellowgreen;
    margin-bottom: 10px;
    border-radius: 0 0 30px 0;
}

.prod p:hover {
    border-radius: 0 0 0 30px;
}


/* Our Team Section */

.team {
    background-color: #c9c8c8;
    padding         : 60px 20px;
    text-align      : center;
}

.team img {
    width        : 70%;
    height       : 300px;
    border-radius: 50%;
}

.team p {
    padding: 5px 20px;
}

.team .social-icon {
    width         : 100%;
    font-size     : 18px;
    margin        : 0 auto;
    padding-bottom: 15px;


}

.team .social-icon ul li {
    display: inline;
    margin : 0 10px;

}

.team .social-icon ul li i {
    color        : white;
    border       : 2px dashed white;
    border-radius: 20px;
    padding      : 10px;
    font-size    : 22px;
    margin-top   : 10px;
}



.team .social-icon ul li .f-icon {
    padding: 10px 14px;
}

.team .social-icon ul li i:hover {
    color : green;
    border: 2px dashed green;

}

/* Our Gallery */

.gallery {
    background           : rgb(255, 255, 255);
    background-image     : url(../images/brand/NimakarLogoT.png);
    background-repeat    : no-repeat;
    background-position  : center;
    background-attachment: fixed;
    color                : black;
    font-size            : 1.3rem;
    padding              : 20px;
}



.gallery .title h2 {
    color: black;
}

.gallery .item img {
    width        : 500px;
    height       : 300px;
    border       : 5px solid green;
    border-radius: 0 20px 0 20px;
}

.owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    visibility: hidden;
}





/* Footer Section  */
footer {
    background-image: linear-gradient(yellowgreen, rgb(228, 230, 90));

}

footer a {
    color: white;
}

footer a:hover {
    color: green;
}

.top-footer {
    padding: 40px;
}

footer img {
    padding  : 0;
    width    : 30%;
    max-width: 30%;
    height   : auto;
}

footer .social-icon {
    width      : 100%;
    font-size  : 18px;
    margin-left: 0px;

}

footer .social-icon ul li {
    display: inline;
    margin : 0 10px;
    color  : rgb(255, 255, 255);

}

footer .social-icon ul li i {
    color        : rgb(255, 255, 255);
    border       : 2px dashed white;
    border-radius: 20px;
    padding      : 10px;
    font-size    : 22px;
    margin-top   : 10px;

}

footer .social-icon ul li .f-icon {
    padding: 10px 14px;
}

footer .social-icon ul li i:hover {
    color : green;
    border: 2px dashed green;

}


.col-sect {
    padding    : 20px;
    line-height: 1.5;
}

footer ul li {
    padding: 0;
    margin : 0;
}

.form-sect {
    text-align: center;

}

footer form {
    padding: 5px 0;

}

footer input[ type="email"] {
    width        : 100%;
    border-radius: 10px;
    margin       : 5px 0;
}

footer button {
    width           : 50%;
    border-radius   : 10px;
    background-color: green;
    color           : white;
}

footer button:hover {
    background-image: linear-gradient(yellowgreen, green);
}

footer .bottom-footer {
    background: linear-gradient(rgb(228, 230, 90), rgb(255, 174, 0));
    padding   : 10px;
}

footer .bottom-footer p {
    font-size  : 16px;
    width      : 45%;
    line-height: 1.5;
    margin     : auto;
    text-align : center;

}